body{
    background-image:url(code.jpg);
    background-repeat: repeat;
    background-position: center;
    background-size: cover;   
    height: 500px;
    position: relative;

}
.N{
    text-align: center;

}


